<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adityakamble49.wordlist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WordListApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Light.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar.Light.Base">
            <intent-filter>
                <action android:name=".ui.search.SearchActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.related.RelatedWordsActivity"
            android:theme="@style/AppTheme.NoActionBar.Base"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name=".ui.related.RelatedWordsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.practice.PracticeActivity"
            android:label="@string/practice">
            <intent-filter>
                <action android:name=".ui.practice.PracticeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.marketplace.MarketplaceActivity"
            android:theme="@style/AppTheme.NoActionBar.Base">
            <intent-filter>
                <action android:name=".ui.marketplace.MarketplaceActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.word.WordActivity"
            android:label="@string/word"
            android:theme="@style/AppTheme.NoActionBar.Base" />

        <activity
            android:name=".ui.wordlist.WordListActivity"
            android:theme="@style/AppTheme.NoActionBar.Base" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings" />

        <activity
            android:name=".ui.about.AboutUsActivity"
            android:label="@string/about_us">
            <intent-filter>
                <action android:name=".ui.about.AboutUsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>